* {
  box-sizing: border-box;
}

body {
  font-family: "open sans", opensans, sans-serif;
}

input,
label,
button,
select,
p,
div {
  font-family: "open sans", opensans, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  text-align:center;
  padding: .25em;
  font-size: 1.3em;
  padding-bottom: 3em;
  background-color: DarkViolet;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: linear-gradient(-45deg, #814, #839, #207);
  min-height: 100vh;
}

h4 {
  color: white;
}

#app {
  width: inherit;
  height: inherit;
}

#example {
  width: 80%;
  height: 470px;
  position: absolute;
  top: 11%;
  left: 10%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.center>h3 {
  color: #ffffff;
  letter-spacing: 2px;
  font-family: OS-Light;
  font-size: 1.5em;
}

.center>h3>small {
  color: #ffffff;
  letter-spacing: 2px;
  font-family: OS-Light;
}

.header-footer-bg {
  background-color: #7ea1b6;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  color: #ffffff;
}

footer>div>small {
  padding-top: 8px;
  padding-right: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.changethisone input {
  border-right-style: none;
}


/*
 *  CUSTOM STYLING
 */

h4 {
  font-weight: 500 !important;
  font-size: 1 !important;
  text-align: center;
  letter-spacing: .05em;
  margin-bottom: 1em;
}

select,
option,
input {
  cursor: pointer;
  text-align: center;
  border-radius: 0 !important;
  outline: 0 !important;
  padding: 0  1rem !important;
  box-shadow: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  font-size: 1rem !important;
  height: 2em;
}


::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.comment {
  text-align: center;
}

#description {
  text-align: justify;
  position: relative;
  padding-top: 20%;
  padding-bottom: 10%;
}

.input-group {
  display: block;
}

label {

  width: 100%;
  text-align: left;
  color: #ecc;
  font-family: opensans, sans-serif;
}

.checkbox-inline {
  opacity: 0;
  display: none;
  ;
}

.checkbox-inline+label {
  border-radius: 50%;
  font-weight: 300 !important;
  display: inline-block;
  user-select: none;
  min-height: 6em;
  transition: color .2s cubic-bezier(.4, .4, .4, .5);
  cursor: pointer;
  text-transform: uppercase;
  padding: 0  !important;
  margin-bottom: -1em;
  width: 6em;
  line-height: 1em;
  font-size: 1.2em;
  text-align: center;
  padding-top: .3em
}

.checkbox-inline:checked+label {
  text-shadow: 0 .1em .3em rgba(0, 0, 0, 0.2);
  font-weight: 900 !important;
  background-color: transparent;
  box-shadow: inset 0 0 0 .2em violet;
  color: white;
}

label svg {
  transition: all .2s cubic-bezier(.2, .1, .1, 1.6);
  width: 4em;
  height: 3.5em;
  fill: #dbb;
  display: block;
  margin: 0 auto;
  transform: translate(0, .5em) scale(.5);
}

.checkbox-inline:checked+label svg {
  fill: white !important;
  transform: scale(1) translate(0, .2em);
}

h1 {
  font-family: 'Merienda', cursive;
  font-size: 10vw;
  letter-spacing: -.1em
}

.booking-type label {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center
}

.booking-type {
  text-align: center
}

.btn-primary {
  outline: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
  display: block;
  margin: 0 auto;
  max-width: 20em;
  border: .1em solid white;
  margin: .5em 1em;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: white;
  color: black;
}

.logo {
  max-width: 15em;
  margin: 0 auto;
  margin-bottom:1em;
  display: block;
  height: 6em;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.gup:hover,
.gdown:hover {
  background-color: violet;
  color: white;
  transform: scale(1.1)
}

.numbercount.group+.numbercount.group {
  margin-left: 4em;
}



select {
   webkit-appearance: none;
  border-radius: 0 !important;
  box-shadow: none;
  border: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white;
}

:-moz-selection {
  /* Code for Firefox */
  color: white;
  background: violet;
}

::selection {
  color: white;
  background: violet;
}

::-webkit-datetime-edit {
  padding: 0em;text-indent:1rem;
}

::-webkit-datetime-edit-fields-wrapper {
  background: transparent;
}

::-webkit-datetime-edit-text {
  color: transparent;
  padding: 0 0.3em;
}

:valid::-webkit-datetime-edit-text{color:white;}

::-webkit-datetime-edit-month-field {
  color: transparent;}

:valid::-webkit-datetime-edit-month-field {color:white;}
::-webkit-datetime-edit-month-field:focus {
  background-color: rgba(0, 0, 0, 0.3); color: white;
}

::-webkit-datetime-edit-day-field { color: transparent;}


:valid::-webkit-datetime-edit-day-field {color:white;}
::-webkit-datetime-edit-day-field:focus {
  background-color: rgba(0, 0, 0, 0.3); color: white;
}

::-webkit-datetime-edit-year-field {  color: transparent;}
:valid::-webkit-datetime-edit-year-field {  color: white;}

::-webkit-datetime-edit-year-field:focus {
  background-color: rgba(0, 0, 0, 0.3); color: white;
}

::-webkit-datetime-edit:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  background: violet;
  color: white;
}

input {
  font-size:1rem;
  background-color: transparent;
  color: white;
}


.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}


#travelName{margin-top:2em;}

 select {
  appearance: none;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  font-size: 1rem;
  padding: 1em 0 .5em 0;
  display: inline-block;
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
}

input[type="date"] + span + label,
input[type="number"] + span + label,
input[type="text"] + span + label{pointer-events:none; display:inline-block;transform: translate(0,-.5rem) scale(1); color:white;}

input[type="date"]:valid + span + label,
input[type="number"]:valid + span + label,
input[type="text"]:valid + span + label,
input[type="number"]:focus + span + label,
input[type="text"]:focus + span + label{pointer-events:none;
color: violet; transform: translate(0,-2rem) scale(.8); }


input[type="text"] + span + label{transform: translate(0,-1.5rem) scale(1);}
input[type="date"] + span + label{transform: translate(0,0rem) scale(1);}
input[type="date"]:focus + span + label,
input[type="date"]:valid + span + label{transform: translate(0,-1.5rem) scale(.8);}
input[type="text"]:focus + span + label,
input[type="text"]:valid + span + label{transform: translate(0,-3.5rem) scale(.8);}

input:focus + span + label{color: white !important}
/* LABEL ======================================= */
 
label {
  color: violet;
  font-size: 1rsem;
  font-weight: normal;
 
  left: 0;

  transition: 0.2s ease all;
}


input[type="text"]:valid + span + label{text-transform: capitalize;}
input[type="text"]:valid + span + label:after{content:" is:";}

input[type="text"]:invalid + span + label:before{content:"What's ";}
input[type="text"]:invalid + span + label:after{content:"? ";}
input[type="text"]:invalid + span + label{animation: holla 1s ease infinite;}
@keyframes holla{
  50%{color:pink}}


.booking-type {
  user-select: none;list-style-type: disc;
}

#travelName{margin-top:3rem;}
/*wow if you are a human reading this,  I am so so so sorry*/
select:invalid ~ .search-button,
input[type="number"]:not(:valid) ~ .search-button,
input[type="checkbox"]:not(:checked) ~ input[type="checkbox"]:not(:checked) ~ input[type="checkbox"]:not(:checked) ~ .search-button,
[type="number"]:invalid ~ .search-button,
#travelOrigin:invalid ~ .search-button,
#datePicker:invalid  ~ .search-button,
#travelName:invalid  ~ .search-button{ opacity:0; transform: scale(.5); pointer-events: none; background-color: violet !important; box-shadow:none; ;}

select:focus{background-color:violet !important;}


/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: .15em;
  width: 0;
  bottom: -.1em;
  position: absolute;
  background: violet;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}


/* active state */
 
input:focus + .bar:before,
input:focus + .bar:after {
  width: 100%;
  background-color: white;
}




input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


 

.panel-heading h2 {
  text-align: center;
}

.panel-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 900 !important;
  text-indent: 0em;
  text-transform: uppercase;
  letter-spacing: .13em;
  text-align: center;
  
  padding: .5em 0;
}

table {
  width: 100%
}

table th {
  text-align: left;
  color: violet
}

table td {
  text-align: left;
  font-size: 1.25rem
}

table tr td:first-child {
  width: 2em;
}

td input[type="radio"] {
  appearance: none;
  height: 2rem !important;
  width: 2rem !important;
  cursor: pointer;
}
button{font-size:1rem;}
.book-button,
.back-button,
.search-button {
  transition: all .3s ease
}

.book-button,
.back-button,
.search-button {
  transform: translate(0, .3em);
  line-height: 2em;
  height: 4em;
}

.book-button:hover,
.back-button:hover,
.search-button:hover {
  transform: translate(0, 0)
}

.back-button {
  position: fixed;
  top: 0;
  right: 0;
  background-color: darkslateblue
}

.book-button {
border:0;

  max-width: auto;
  margin-left: 25%;
  background-color: white;
text-indent: -99em; overflow:hidden;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E %3Cpath d='M 1.53,5.71 3.47,7.62 8.76,1.65' style='fill:none; stroke:%23fff;stroke-width:1.5px;'/%3E %3C/svg%3E");
  transition: all .3s cubic-bezier(.4, .1, .1, 2);
  position: fixed;
  display: block;
  bottom: 1em;
  right: 1em;
  margin: 0;



height: 5rem; width: 5rem; 

  border-radius: 50%;
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: green;
  text-decoration:none; outline:0;
}

.back-button:hover,
.book-button:hover {
  background-color: white;
  color: black
}

.book-button:hover{
  transition: all .2s ease;
  background-color: #0a4;
  transform: translate(0,-.1em) scale(1.05);
  box-shadow: 0 .25em .5em rgba(0, 0, 0, 0.35);
}

.back-button {
  margin: 0;
  box-shadow: none;
  padding: 0;
  border: 0;
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  width: 25%;
  background-color: darkslateblue
}


.book-button { 
  color: white
}

.table-striped div,
.table-booked thead,
.table-booked tbody,
.table-booked tr,
.table-booked td,
.table-booked th,
.table-booked {
  display: inline-block;
  float: left;
  text-align: center !important;
}

.table-striped th {
  padding-top: 1rem;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.table-striped td {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1em;
}

.table-striped h4 {
  width: 100%;
}

.table-booked div,
.table-booked thead,
.table-booked tbody,
.table-booked tr,
.table-booked td,
.table-booked th,
.table-booked {
  width: 100%;
  display: inline-block;
  text-align: center;
  text-align: center !important;
}

.table-booked th {
  padding-top: 1rem;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.table-booked td {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.table-booked h4 {
  width: 100%;
}

.price td {
  font-weight: 900;
  font-size: 3rem;
}

.price,
.price th {
  display: block;
  width: 100%;
  clear: both;
  float: none;
}

.price td {
  font-weight: 900;
  font-size: 6em;
  text-align: left;
  display: block;
  float: none;
  clear: both;
  font-weight: 900;
  -webkit-text-fill-color: pink;
  color: pink;
  text-shadow: 0 0 .25em rgba(250, 10, 40, 0.4);
}

.table-booked td {
  color: violet;
}

.table-booked th {
  color: violet;
}

td input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: .1em solid violet !important;
  border-radius: 50% !important;
}

td input[type="radio"]:focus {
  background-color: pink;
  border-color: white !important
}

td input[type="radio"] {
  transition: all .35s ease
}

td input[type="radio"]:hover {
  transform: scale(1.2);
  box-shadow: 0 .2em 0 -.05em rgba(0, 0, 0, 0.25)
}

td input[type="radio"]:checked {
  background-color: white;
  border-color: white !important;
  transform: scale(1);
  box-shadow: inset 0 0 0 .125em violet !important
}

#results>h4 {
  color: white;
  font-size: 1rem;
  margin-top: 0;
  font-weight: 300 !important;
  color: pink;
  text-transform: uppercase;
  letter-spacing: .2em;
}


#results> :nth-child(2),
#results> :nth-child(3),
#results> :nth-child(4) {
  animation: fly-left 1.5s ease forwards 1;
}

#results> :nth-child(2) {
  animation-delay: -.6s
}

#results> :nth-child(3) {
  animation-delay: -.3s
}

#results> :nth-child(4) {
  animation-delay: 0s
}

@keyframes fly-left {
  0% {
    transform: translate(0, 1em);
    opacity: 0;
  }
  30% {
    transform: translate(0, 1em);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1
  }
}

.panel-title {
  margin-bottom: 0;
  font-size: 1rem;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  -moz-appearance: none;
}

input {
  width: 96% ;
  border: none;
  box-shadow: none;
}

.table-booked tr {
  display: inline-block;
  vertical-align:top;
  width: 33%;
  min-height: 3rem;
  height: auto;
}

.table-booked tr>th {
  font-size: .5em;
  display: block !important;
  width: 100%;
  font-weight: 300;
  text-align: center;
}

.table-booked tr>td {
  display: block !important;
  width: 100%;
  text-align: center !important;
  font-size: .9em;
  color: pink !important
}

.table-booked .price {
  height: 8em;
  width: 100%;
  margin-top: 0em !important;
  padding: .15em 0 !important;
  text-align: center;

  background-size: cover;
  );
  ;
  margin-bottom: 1rem !important;
}

.table-booked .price td {
  font-size: 2rem;
  width: 100% !important;
}

@media (max-width:480px) {
 
  .logo {
    width: 60%
  }
  .booking-type {
    padding-bottom: 6rem;
  }
  .search-button {

  }
}

@media (max-width:400px) {
  
  body{
    font-size: 1em ;
  }
  .table-booked .price td {
    font-size: 2rem;
  }
  .booking-type label {
 
  }
  h2 {
    font-size: 1rem;
  }
  .table-booked tr {
    display: inline-block;
    width: 45vw;
    height: 2.5rem;
  }
}

@media (max-width:350px) {
  .booking-type label {
   
    margin: 0 -.71em
  }
}

@media (min-width: 640px) {
  .table-booked tr {
    display: inline-block;
    width: 20%;
    min-height: 4.5em;
    height: auto !important;
  }
}

body {
  padding: 0;
  margin: 0;
}

.input-stepper button {
  display: none
}

.booking-type label {
  color: violet;
  font-size: 1rem;
}

.search-button {
  background-color: rgba(90, 10, 40, 0.8);
  border: none
}

#quote {

  min-height: 100vh;
  text-align: center;
}

#quote p {
  color: white;
  font-size: .9em;
}

#quotePagePanel .panel-title {
  border-bottom: 0;
  font-size: 2em;
  letter-spacing: .05em;
}

.table-booked tr {
  float: none !important;
  margin: 0 -.15em !important;
}






 .select-notify{;  
    pointer-events: none;
 background-image: linear-gradient(180deg, , transparent);
;  transition: all .5s ease;
letter-spacing:.1em;
color: pink; font-size:.8em;font-weight: 300; text-transform: uppercase;
margin: 0 auto; padding:1em; position:absolute;  top:6.5em; width: 100%; }

[for="travel-flight"],[for="travel-car"],[for="travel-hotel"]{position:relative}

[for="travel-flight"]:after,[for="travel-car"]:after,[for="travel-hotel"]:after{
  transition: all .3s ease; 
  content:"";display:block; top:100%; margin-top: -1em; margin-left:-.5em; transform: rotate(45deg);position:absolute; left: 50%;
  animation: jiggle .7s ease infinite;  z-index ;width: 1em; height: 1em; border: .1em solid violet;
border-bottom:0; border-right:0;
  }

input[type="checkbox"]:checked ~ .select-notify{opacity:0; transform: translate(0, 1em)}


@keyframes jiggle{
  50%{transform: rotate(45deg) translate(.2em,.2em); opacity:.5;}
}

.booking-type input:checked ~ [for="travel-flight"]:after, .booking-type input:checked ~ [for="travel-car"]:after, .booking-type input:checked ~[for="travel-hotel"]:after{display:none;}

[for="travel-flight"]:after{animation-delay:0}
[for="travel-car"]:after{animaton-delay:-.2s}
[for="travel-hotel"]:after{animation-delay:-4s}








.search-button {
  transition: all .3s cubic-bezier(.4,.1,.1,2);

margin: 0 auto;
text-align:center;
position:fixed ; 
display:block;
bottom: 1rem;
margin: 0 auto;
height: 5rem; width: 5rem; 
border-radius: 50%;
right: 1rem !important;
box-shadow: 0 .2em .5em rgba(0,0,0,0.5);
transform:none;
overflow:hidden;
text-indent:-99em;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E %3Cpath d='m 5.8,5.9 3,2.8 M 2,2 C 4.7,-0.7 8.6,3.1 5.8,5.9 3.3,8.4 -0.71,4.7 2,2 Z' style='fill:none; stroke:%23fff;stroke-width:1px;' /%3E %3C/svg%3E");  
background-size: 50%; background-position: 50% 50%; background-repeat:no-repeat;
background-color: salmon;
}

select{margin-bottom:2rem; 
-webkit-appearance:none;}
.search-button:hover {
  transition: all .2s ease;
  background-color: orangered;
  transform:scale(1.1);
  color: violet;}
.bar{pointer-events:none;}

input[type="number"]{display:inline-block !important;width: 6rem !important; height:3rem; margin:0 auto;}
 input[type="number"] + .bar{position:relative; display:inline-block;width: 4rem;  transform:translate(0,1rem);margin-left:-5rem;}

input[type="number"] + .bar + label{ display:inline-block; width: 5rem; margin:0;margin-left: -5rem;height:3rem;}






@media (min-width: 60em){
  .panel-body{width: 100%;}

#results .panel-default,
     .panel-body .panel-default tr{width: 30%;}
          .panel-body .panel-default tr:last-child{width: 100%;}

#results .panel-default,   .panel-body .panel-default{
     clear:none;
    display:inline-block !important; 
    width: 30vw;  }
}


input[type="date"]{display:inline-block !important;width: 10rem !important; margin:0 ; padding:0 !important;}
 input[type="date"] + .bar{position:relative; display:inline-block;width: 5rem;  transform:translate(0,1rem);margin-left:-8rem;}

input[type="date"] + .bar + label{ display:inline-block; width: 10rem; margin:0;margin-left: -8rem; margin-right:3rem;}


input[type="text"] + span + label{margin-bottom:1rem;}

select{width: 10rem;}
.sellabel{ display:inline-block; margin:0 ;  width: 10rem; margin-left: -10.5rem; color:white; pointer-events:none;}


select:focus + label,
select:valid + label{color: violet ; transform: translate(0,-2rem) scale(.8)}


.discount{color: white; display:block; font-size:3rem; font-weight: 300; margin-bottom:.1em;}



@media (max-width:40em){
:root{font-size: 5vw}
  input[type="date"]{margin-left:3rem}
.break-me{display:block; width: 100%; height: 1rem;}

 
}