*{box-sizing:border-box;}
html {
    color: #fff;
    background-color:#000;
    font-size: 1em;
    line-height: 1.4;
}

body{ margin: 0em auto;

font-family:overpass,sans-serif;}

::-moz-selection {
    background: #900;
    text-shadow: none;
    color:white;
}

::selection {
    background: #900;
    text-shadow: none;
    color:white;
}
 

audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle; }
textarea { resize: vertical; }
 
a{}
 a:link, a:visited{color:#fff; text-transform: uppercase;}
 a small{display:block; font-size: 1rem; color: white;}

 a:hover{background-color:#222}





body{overflow:hidden;}


.menu{
    display:flex;
    flex-direction: row;
    height: 100vh; 
    width: 100vw;
    background: #1a1a1a;
    display: flex;
    flex-wrap: wrap;
}
.menu > a { 
    transition:all .2s ease;
    font-weight: 800;
    letter-spacing:.1em;
    color:#666;
    font-size: 2.5vw;
    text-decoration:none; 
    flex-grow: 1;
    width: 33%;
    height: 50%;
    padding: 2vh 4vw ;
    padding-top: 20vh;
  
    align-content:stretch;
    text-align:center;
    flex-align:middle;

    
}
.menu > a > small{font-size:1em; font-weight:300;}
.menu > a:hover{background-color:#222;transform: scale(1.025); color:white;
box-shadow: 0 0 2em rgba(0,0,0,0.5);}
