*{box-sizing:border-box}
/*
WINNER SELECTION
*/





h1{font-weight: 300; text-transform: uppercase; letter-spacing:.4em; font-size: 2vw; text-align:center; max-width: 50vw;  margin-top: -3vw !important;}





#bookings{position:fixed; right:0; bottom:1em; width: 45%;}
.booking{width: 100% !important; margin:-.2em 0; border-bottom: .2em dotted #333;}
.booking{padding-left: 22rem !important; }
.booking h3{position:absolute;left:1em;top:.5em;width: 50%;line-height: 1.3em; height:3em; overflow:hidden;color:black;}



.show-latest-only > div{ transition: all .5s ease;}
.show-latest-only > div{  display:inline-block;}

.booking{position:relative; background-color:#eee; coor:#000;

  background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
}

.tickets{top:-6em;}
.tickets .booking{height:11vh; padding-top:.5em !important}
.tickets .booking:nth-child(1){animation: n1 .7231s cubic-bezier(.2,.2,.2,1) forwards; transform-origin: 100% 100%}
.tickets .booking:nth-child(2){animation: n2 .7231s cubic-bezier(.2,.2,.2,1) forwards;}
.tickets .booking:nth-child(3){  animation: n3 .7231s cubic-bezier(.2,.2,.2,1) forwards;  }
.tickets .booking:nth-child(4){  animation: n4 .7231s cubic-bezier(.2,.2,.2,1) forwards;  }
.tickets .booking:nth-child(5){  animation: n5 .7231s cubic-bezier(.2,.2,.2,1) forwards;  }
.tickets .booking:nth-child(6){animation: n6 .7231s cubic-bezier(.2,.2,.2,1) forwards; }
.tickets .booking:nth-child(7){animation: n7 .7231s cubic-bezier(.2,.2,.2,1) forwards;  }
.tickets .booking:nth-child(8){animation: n8 .7231s cubic-bezier(.2,.2,.2,1) forwards;  }
.tickets .booking:nth-child(9){animation: n9 .7231s cubic-bezier(.2,.2,.2,1) forwards;  }
.tickets .booking:nth-child(10){animation: n10 .7231s cubic-bezier(.2,.2,.2,1) forwards; transform-origin: 0% 0%}

    @keyframes n1{0%{  transform:translate(0,-10%) rotate(10deg) ;
      opacity:0;; 20%{opacity:1;}}
      100%{transform: translate(0,100%)  }}
  @keyframes n2{100%{transform: translate(0,100%)}}
  @keyframes n3{100%{transform: translate(0,100%)}}
  @keyframes n4{100%{transform: translate(0,100%)}}
  @keyframes n5{100%{transform: translate(0,100%)}}
  @keyframes n6{100%{transform: translate(0,100%)}}
  @keyframes n7{100%{transform: translate(0,100%)}}
  @keyframes n8{100%{transform: translate(0,100%)}}
  @keyframes n9{100%{transform: translate(0,100%)}}
  @keyframes n10{100%{transform: translate(0,100%)}}

  @keyframes n10{
    50%{opacity:1;}
    100%{transform: translate(0,140%) rotate(-10deg) ; opacity:0;}}


.tickets .booking:first-child:before{
  content: "";
  position: absolute;
  display: block;
  height: 1em;
  top: -.9em;
  left:0;
  right:0;
  background:
    linear-gradient(
      45deg, #eee 33.333%,
      transparent 33.333%, transparent 66.667%,
      #eee 66.667%
    ),linear-gradient(
      -45deg, #eee 33.333%,
      transparent 33.333%, transparent 66.667%,
      #eee 66.667%
    );
    background-size: 1em 2em;
    background-position: 0 -1em;
}

.booking:nth-child(9):after,
.booking:nth-child(10):after{
  content: "";
  position: absolute;
  display: block;
  height: 1em;
  bottom: -.9em;
  left:0;
  right:0;
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #ccc 33.333%, #ccc 66.667%,
      transparent 66.667%
    ),linear-gradient(
      -45deg, transparent 33.333%,
      #ccc 33.333%, #ccc 66.667%,
      transparent 66.667%
    );
    background-size: 1em 2em;
    background-position: 0 -1em;
}
.booking h3{text-transform: uppercase;font-size:1.7vw;font-weight: 500; }
.booking{width: 30em; padding: 2em; }
.booking > div{color:black;background-repeat:no-repeat; background-position:0 50%; background-size: 3em;  min-height: 2.5em; padding-left: 3em; line-height:1.3em;  }
.booking .flight {background-image:url(../img/plane.svg); }
.booking .hotel{ background-image:url(../img/hotel.svg); }
.booking .car{   background-image:url(../img/car.svg); }
.booking b{display:inline-block; width: 5em; line-height:3em; max-height:2.5em;  font-weight: 400;}
@keyframes wincard{  0%{opacity:0; transform: translate(0,-12em) scale(.9)}  100%{opacity:1; transform: scale(1)}}

@keyframes newpod{
  0%{background-color:#900; color:#c00;
  transform: scale(1.2)}
  20%{transform: scale(1)}
  100%{background-color:transparent}
}


.pods{ margin-top:.5em;padding:0em;  font-size:4em;display:inline-block;  min-width:7em;max-width: 7em; text-align:left;margin-bottom:1em;}
.pods h2{font-size:3.5em; line-height:.75em; display:inline-block;}
.pods p{margin:0;display:inline;}
.pods:last-child{animation: newpod .8s ease forwards}

body {
  overflow:hidden;
font-family:overpass, sans-serif;
background-color:#403; color: white;
min-height: 100vh;
font-size:.9em;

background: linear-gradient(45deg, #603 0%, #306 100%);
/*background-image: url(../img/splash.jpg)*/;
background-size: cover; background-repeat: no-repeat;

}

h1,h2,h3,h4{ font-family: overpass, sans-serif; margin:0; padding:0;}

.content{ padding: 0 2em}
.main-logo{display:block;width: 50vw;max-width: 40vw;height: 20vh;margin: 5vh 5vw;}
/*SPIN THE LOGO  - chrome only */
.main-logo g g {animation: spin 16s linear infinite; transform-origin: 50% 50%;}
@keyframes spin{  100%{transform: rotate(360deg);}}

.qrcode{width:15rem; height:15rem; position:absolute; top:0rem; right:0rem;}
.burl{position:absolute; top: 15rem; right:0; width: 15rem; text-align:center; font-size:1.4em; text-transform: uppercase; letter-spacing:.1em;}



@keyframes winn{

  0%{transform: scale(.85) translate(0,300%); opacity:0;}
}

.winner {animation: winn 2s ease forwards; }


#winners{display:none;}

/*
#winners .winner{display:none; margin:.2em; border:.1em solid #2f8c25; font-size: 1.52em;padding: .4em 1em !important;
  background-image:none;;color:#fff; width: auto !important;}

#winners .winner div{display:none;}
#winners .winner:before,
#winners .winner:after{display:none; border:0 !important;}
#winners .winner h3{position:relative;}
#winners .winner h3 span{display:none;}


#winners .winner:nth-child(5),
#winners .winner:nth-child(15),
#winners .winner:nth-child(35),
#winners .winner:nth-child(55),
#winners .winner:nth-child(85),
#winners .winner:nth-child(105){display:inline-block; }*/



 .booking-type{display:inline-block ; width: 7em;  height: 4em; border-right: .1em solid rgba(0,0,0,0.1);  background-position: 50% 50% !important; background-repeat:none !important; background-size: contain !important; ;}








.speedo{position: relative;width: 16em;font-size:2vw; margin-top: 10vh; margin-left: 3em;}

 .speedo:after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  top: 3em;

  margin-left: -1em;
  width: 18em;
  height: 9em;
  border-radius: 9em  9em  0 0;
  border-top: .2em solid violet;
  background-color: transparent;
}

.speedo div {
  border-radius: 70%  70% 10% 10%;
  position:relative;
  height: 10em;
  transition: transform ease 7s;
  margin: .1em auto;
  width: .2em;
  transform: rotate(-90deg);
  transform-origin: 50% 100%;
  background-color: currentcolor;
}



.speedo .capacity0{ transform: rotate(-89deg); animation: capacity0 2s ease infinite alternate}
@keyframes capacity0{
  0%{transform: rotate(-87deg)} 
  100%{transform:rotate(-90deg)}
}


.speedo .capacity1{ transform: rotate(-85deg); animation: capacity1 1s ease infinite alternate}
@keyframes capacity1{0%{transform: rotate(-90deg)} 100%{transform:rotate(-80deg)}}



.speedo .capacity2{ transform: rotate(-55deg); animation: capacity2 .5s ease infinite alternate}
@keyframes capacity2{0%{transform: rotate(-60deg)} 100%{transform:rotate(-50deg)}}

 
.speedo .capacity3{ transform: rotate(1eg); animation: capacity3 .24s ease infinite alternate}
@keyframes capacity3{0%{transform: rotate(-2deg)} 100%{transform:rotate(9deg)}}



.speedo .capacity4{ transform: rotate(30eg); animation: capacity4 .13s ease infinite alternate}
@keyframes capacity4{0%{transform: rotate(15deg)} 100%{transform:rotate(35deg)}}




.speedo .capacity5{ transform: rotate(77eg); animation: capacity5 .07s ease infinite alternate}
@keyframes capacity5{0%{transform: rotate(70deg)} 100%{transform:rotate(95deg)}}


.speedo .capacity7,
.speedo .capacity8,
.speedo .capacity9,
.speedo .capacity10,
.speedo .capacity11,
.speedo .capacity12,
.speedo .capacity13,
.speedo .capacity14,
.speedo .capacity15,
.speedo .capacity16,
.speedo .capacity17,
.speedo .capacity18,
.speedo .capacity6{ transform: rotate(95eg); animation: capacity6 .03s ease infinite alternate; color:#c00;}
@keyframes capacity6{0%{transform: rotate(90deg)} 100%{transform:rotate(95deg)}}



.booking{position:relative; }

.booking .car{position:absolute; right:0; top:0; bottom:0; width: 8vw; height: 100%;}
.booking .flight{position:absolute; right:8vw; top:0; bottom:0; width: 8vw; height: 100%;}
.booking .hotel{position:absolute; right:16vw; top:0; bottom:0; width: 8vw; height: 100%;}
